@import "tailwindcss";

@config "../tailwind.config.js";

/* --- Personalización para React Big Calendar --- */

/* Oculta la fila de "eventos de todo el día" en las vistas de semana y día */
.rbc-time-view .rbc-allday-cell {
  display: none;
}

.rbc-time-view .rbc-time-header-content > .rbc-row:first-child {
  min-height: 0;
}

.rbc-day-slot .rbc-events-container {
  margin-right: 0px !important;
}
